.ImageGallery {
    display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.loadMore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalImg {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;

}